.upper {
background: #f72210;
height: 7rem;
}

.login {
    color:white;
}
.bg-warning {
    border-radius: 40%;
    width: 150px;
    height: 35px;
}

.middle a {
    border-right: 1px solid lightgray;
}

.last {
    border: none !important;
}

.middle input {
  border: none !important;
  text-align: center;
  width: 4rem;
}

.nav-link {
  text-align: center;
}

