body {
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  padding: 0;
}

.sml {
  height: 4rem;
  background: #f72210;
}

.head_img img {
  height: 3rem;
}

.btn-sml {
  height: 10px !important;
  width: 120px !important;
  padding-bottom: 2rem;
  border: none
}
/* img {
    height:15rem;
    width:auto;
} */

.upper {
background: #f72210;
height: 7rem;
}

.login {
    color:white;
}
.bg-warning {
    padding-top: .5rem;
    border: none;
    border-radius: 20px;
    width: 180px;
    height: 40px;
}

.title img {
    height:5rem;
    width:auto;

}

.navbar {
    border-bottom: 1px solid lightgray;
}

.middle a {
    border-right: 1px solid lightgray;
}

.last {
    border: none !important;
}

.middle input {
  border: none !important;
  text-align: center;
  width: 4rem;
}

.nav-link {
  text-align: center;
}

.lower a:hover {
   color:red !important;
}

.col-img {
    position:relative;
}
.col-img span {
    position:absolute;
    background-color:white;
    color:red;
    height: 20px;
    width:auto;
    bottom:0px;
    padding: 0px 5px 0px 5px;
    font-weight: 500;
}

/**Footer**/
.f-end {
    align-items: flex-end;
}

.mr-5px {
    margin-right: 5px;
}
