body {
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  padding: 0;
}

.color {
  color: black !important;
  font-weight: 500;
}

.sml {
  height: 4rem;
  background: #f72210;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.head_img img {
  height: 3rem;
}

.btn-sml {
  height: 2rem !important;
  width: 6rem !important;
  padding-bottom: 2rem;
  border-radius: 40px;
  border: none
}

.upper {
background: #f72210;
height: 7rem;
}

.login {
    color:white;
}
.bg-warning {
    padding-top: .5rem;
    border: none;
    border-radius: 20px;
    width: 180px;
    height: 40px;
}

.title img {
    height:5rem;
    width:auto;

}

.navbar {
    border-bottom: 1px solid lightgray;
}

.middle a {
    border-right: 1px solid lightgray;
}

.last {
    border: none !important;
}

.middle input {
  border: none !important;
  text-align: center;
  width: 4rem;
}

.nav-link {
  text-align: center;
}

.lower a:hover {
   color:red !important;
}

.pos {
  background-color: white;
  height: 3rem;
  width: auto;
  top: 46%;
  left: 30px;
}

.top_img img {
  width: 23rem;
  padding-left: 1rem;
}

.debate  img{
  height: 7rem;
}

.debate_head {
  border-bottom: 2px groove lightgray;
}

.vs {
  width: 50px;
  height: 50px;
  top: 50.5%;
  left: 45%;
}


/**Footer**/
.f-end {
    align-items: flex-end;
}

.mr-5px {
    margin-right: 5px;
}
